@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --japanese-indigo: #244855;
  --cadet-grey: #90aead;
  --flesh: #fbe9d0;
  --cinnabar: #e64833;
  --milk-chocolate: #874f41;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}